requests==2.23.0
wikipedia==1.4.0
torch
torchvision
transformers==4.12.3
tensorflow==2.7.0
streamlit==1.2.0
spacy_universal_sentence_encoder
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl
flatten-json==0.1.13
pandas==1.1.5
spacy
